[submodule "ThirdParty/OpenRGB-cppSDK"]
	path = third_party/OpenRGB-cppSDK
	url = https://github.com/Youda008/OpenRGB-cppSDK.git
[submodule "ThirdParty/sdbus-cpp"]
	path = third_party/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp.git
