[Unit]
Description=maintenanced pacman service

[Service]
Type=oneshot
ExecStart=/usr/bin/apk update && /usr/bin/apk upgrade
StandardOutput=journal
StandardError=journal